<footer class="site-footer">
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-4">
        <h3 class="font-weight-bold">Explore Knot9 Stock Footages</h3>
        <ul class="list-unstyled">
          <li><a href="https://www.knot9.com/video/people">People</a></li>
          <li><a href="https://www.knot9.com/video/food">Food</a></li>
          <li><a href="https://www.knot9.com/video/truly-desi">Truly Desi</a></li>
          <li><a href="https://www.knot9.com/video/finance">Finance</a></li>
          <li><a href="https://www.knot9.com/video/festivals">Festivals</a></li>
          <li><a href="https://www.knot9.com/video/technology">Technology</a></li>
          <li><a href="https://www.knot9.com/video/craft-and-skills">Craft & Skills</a></li>
          <li><a href="https://www.knot9.com/video/lifestyle-kids">LifeStyle Kids</a></li>
          <li><a href="https://www.knot9.com/video/lifestyle-families">LifeStyle Families</a></li>
          <li><a href="https://www.knot9.com/video/lifestyle-couples">LifeStyle Couples</a></li>
          <li><a href="https://www.knot9.com/video/health-and-medical">Health & Medical</a></li>
          <li><a href="https://www.knot9.com/videos/free-stock-video">Free Stock Video</a></li>
        </ul>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="row">
          <div class="col-md-7">
            <!-- <h3>Latest Post</h3> -->
            <!-- <div class="post-entry-sidebar">
              <ul>
                <li>
                  <a href="">
                    <img src="/images/img_6.jpg" alt="Image placeholder" class="mr-4">
                    <div class="text">
                      <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                      <div class="post-meta">
                        <span class="mr-2">March 15, 2018 </span> &bullet;
                        <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <img src="/images/img_3.jpg" alt="Image placeholder" class="mr-4">
                    <div class="text">
                      <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                      <div class="post-meta">
                        <span class="mr-2">March 15, 2018 </span> &bullet;
                        <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <img src="/images/img_4.jpg" alt="Image placeholder" class="mr-4">
                    <div class="text">
                      <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                      <div class="post-meta">
                        <span class="mr-2">March 15, 2018 </span> &bullet;
                        <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div> -->
          </div>
          <div class="col-md-1"></div>

          <div class="col-md-4">

            <div class="mb-5">
              <h3 class="font-weight-bold">Quick Links</h3>
              <ul class="list-unstyled">
                <li><a href="https://www.knot9.com/about-us">About Us</a></li>
                <li><a href="https://www.knot9.com/contactus">Contact Us</a></li>
              </ul>
            </div>

            <div class="mb-5">
              <h3 class="font-weight-bold">Social</h3>
              <ul class="list-unstyled footer-social">
                <li><a href={{site.social_network.youtube}} target="_blank"><span class="fa fa-youtube-play"></span> Youtube</a></li>
                <li><a href={{site.social_network.twitter}} target="_blank"><span class="fa fa-twitter"></span> Twitter</a></li>
                <li><a href={{site.social_network.facebook}} target="_blank"><span class="fa fa-facebook"></span> Facebook</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright <a href="http://knot9.com">Knot9</a> &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" rel=”nofollow”>Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </div>
    </div>
  </div>
</footer>
<!-- END footer -->

<!-- loader -->
<div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>